footer {
    position: absolute;
    bottom: 0;
    color: #4f4f4f;
    background-color: var(--footer-color);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: small;
  }
  footer a,
  footer a:visited,
  footer a:active,
  footer a:hover {
    color: var(--footer-links);
  }
  
  .footer-contact span {
    margin-left: 4rem;
  }
  
  .w-95 {
    width: 95%;
  }
  
  .justify-left {
    justify-content: flex-end;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .space-between {
    display: flex;
    justify-content: space-between;
  }